@font-face {
  font-family: "Roboto";
  src: url("./Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
}
