@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

textarea,
input {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
